.header {
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  & input[type='search'] {
    width: 45rem;
    background-color: white;
    padding: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: 1.8rem;
  }
  & input[type='submit'] {
    width: 10rem;
    padding: 2rem;
    background-color: rgb(80, 27, 205);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
  }
  & > div {
    display: flex;
    gap: 3rem;
    & > fieldset {
      display: flex;
      gap: 1rem;

      label {
        font-size: rem;
      }
    }
  }
}
